#mega-rocket {
    top: 0;
    left: 0;
    position: fixed;
    font: inherit;
    background-color:#373867;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 75px;
    font-size: 40px;
     }
aside{ 
     top: 75px;   
     position: fixed;
     width: 335px;
     height: 100%;
     color: #2A2A32;
     background-color: #F6F6F6;
     left: 0px;
     }
#search{    
    top: 16px;
    left: 40px;
    border: n4px;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color:#FFFFFF;
    color: #FFFFFF;
    text-align: left;
    width: 255px;
    height: 36px;
}
.list-aside li{ list-style-type: none;
    display: inline-block; 
    width: 50%;
    top: 0px; 
    left: 67px;
    height: 49px;
    text-align : center;
    margin-left :26px;
    vertical-align: middle;
    }
.list-aside li .aside-buttons{
    display: inline-block; 
    background-color:#AACE9B;   
    color: #2A2A32;
    width: 100px;
    text-align : center;

   }
.list-aside li .aside-info{ 
    display: inline-block; 
    width: 50%;
    height: 49px;
    text-align : center;
    margin-left :26px;
    vertical-align: middle;
}
#info{
    text-align : center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
 }
main {margin-left: 400px;
      margin-top: 100px;
      text-align:center;
}
h1{  color: #373867;
     width: 570px;
     font-weight: 900;
     font-size: 40px;
     margin :auto;
     }
 h2 { color:#423C3C;
    width: 712px;
    text-align: center;
    font-size: 20px;
    margin :auto;
}
.text {color: #776262;
    width: 700px;
    text-align:center;
    font-weight:100;
    font-size: 15px;
    margin :auto;
}
.division {
    width: 500px;
    height: 5px;
    background-color: #BEBEBE;
    margin: 100px auto;
 }
 .order {
    display: inline-block;
    width: 40%;
    height: 50px;
}
#align { display: inline-block; 
    width: 50%;
    top: 0px; 
    left: 67px;
    height: 49px;
    text-align : center;
    margin-left :26px;
    vertical-align: middle; 
}
    h3{ color: #373867;
    width: 481px;
    height: 47px;
    top: 1826px;
    left: 1826px;
    text-align: center;
}

h4{ color: #373867; 
    width: 178px;
    height: 47px;
    top: 2962px;
    left: 800px;
    text-align: center;
}

h3{ color: #373867;
    width: 178px;
    height: 47px;
    top:3780px;
    left:  823px;
    text-align: center;
}


h5{ color: #373867;
    width: 251px;
    height: 23px;
    top:4774px;
    left:  795px;
    text-align: center;
}

h6{ color: #373867;
    width: 284px;
    height: 34px;
    top:5077px;
    left:  776px;
    text-align: center;
}

h6{ color: #373867;
    width: 346px;
    height: 31px;
    top:5336px;
    left:  752px;
    text-align: center;
}

#footer { margin-left:335px
    }




